# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Django
db.sqlite3
media/

# ML artifacts
*.pth
*.h5
*.onnx
*.pt

# Datasets
datasets/
*.wav
*.mp3
*.png
*.jpg

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
